@import url('cssGlobal/variables.css');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  /* color-scheme: dark light; */
}

body {
  min-block-size: 100%;
  background-color: var(--global-colors-white);
  font-family: var(--global-font-family-base);
  display: grid;
  place-content: center;
  place-items: center;
  gap: 5vmax;
  padding: 5vmax;
}

h1 {
  font-size: var(--global-font-size-44);
}

button {
  padding: 10px 20px;
  border: none;
  background-color: var(--global-colors-blue);
  color: var(--global-colors-white);
  border-radius: var(--global-border-radius-10);
  font-weight: var(--global-font-weight-black);
  font-size: var(--global-font-size-24);
}

.theme {
  font-family: var(--global-font-family-alt);
  font-weight: var(--global-font-weight-bold);
  background-color: var(--theme-colors-red);
  border-radius: var(--global-border-radius-40);
  letter-spacing: var(--global-letter-spacing-2);
}
